<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,  initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>I am Home Page</h1>
    <% if(isLogin) {%>
    <a href="/admin/create-post">Go to create Blog</a>
    <form action="/logout" method="post">
      <input hidden value="<%= csrfToken %>" name="_csrf" />
      <button>logout</button>
      <p>Profile <%= currentUser %></p>
    </form>
    <a href="/login">login</a>
    <% } else { %>
    <a href="/register">register</a>
    <div></div>
    <a href="/login">login</a>
    <% } %>
    <hr />
    <div>
      <h2>post</h2>
      <% if(postArr.length <= 0){ %>
      <h2>Empty post</h2>
      <% }%> <% for(let post of postArr){%>
      <h4><%= post.title %></h4>
      <span>Post By @<%= post.userId.name %></span>
      <a href="/post/<%= post._id %>">see more..</a>
      <% } %>
    </div>
  </body>
</html>
